 body {
	margin: 0;
	background-color: #fffafa;
	overflow: hidden;
}
 
table{
	margin-top: 60px;
	margin-bottom: 20px;
	border:1px solid black;
	width: 20%;
	position: relative;
	border-collapse: inherit;
	border-radius: 8px;
	background-color: rgb(240, 255, 255);
	-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
	transition:0.4s;

}
table:focus-within{
	box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.5);
}
table:hover{
	box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.5);
}

.list_table_profile{
	table-layout: fixed ;
	width: 20%;
	height: 350px;
	-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
	transition:0.4s;
}
.list_table_usu{
	table-layout: fixed ;
	width: 70%;
	margin-left: 10%;
	margin-top: 300%;
	height: 350px;
	-webkit-animation-name: anime; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
	animation-name: anime;
	animation-duration: 0.7s;
}
.list_table_usu_a{
	table-layout: fixed ;
	width: 70%;
	margin-left: 10%;
	margin-top: 1000%;
	height: 350px;
	-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
	transition:0.4s;
}
/* .sair{
	-webkit-animation-name: sair; 
	-webkit-animation-duration: 0.7s; 
	animation-name: sair;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
} */
/* Spawn */
/* @keyframes anime {
	0% {
		margin-top: 60px;opacity: 0;margin-left: 40%;box-shadow: 15px 15px 20px 3px rgba(0,0,0,0);
	}
	97% {
		box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.25);
	}
	100% {
		margin-top: 60px;opacity: 1;margin-left: 10%;box-shadow: 0 0 0 0 rgba(0,0,0,0.25);
	}
  } */
  /* De baixo pra cima */
  /* @keyframes sair {
	0% {
		box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.5);
	}
	100% {
		margin-top: -300%;box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.5);
	}
  } */
  @keyframes anime {
	0% {
		margin-top: 300%;box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.5);
	}
	97% {
		box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.5);
	}
	100% {
		margin-top: 60px;box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
	}
  }
  .list_table_usu_a:hover{
	width: 75%;
	height: 390px;
	margin-top:20px !important;
}

.list_table_gas{
	table-layout: fixed ;
	margin-left: 10%;
	margin-top: 1000%;
	width: 82%;
	height: 207px;
	-webkit-animation-name: anime; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
	animation-name: anime;
	animation-duration: 0.4s;
}
.list_table_gas_a{
	table-layout: fixed ;
	margin-left: 10%;
	margin-top: 1000%;
	width: 82%;
	height: 207px;
	-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
	transition:0.4s;
}
.list_table_gas_a:hover{
	width: 87%;
	height: 240px;
	margin-top:27px !important;
}

.list_table_cat{
	margin-left: 10%;
	margin-top: 1000%;
	width: 70%;
	height: 96px;
	-webkit-animation-name: anime; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
	animation-name: anime;
	animation-duration: 0.4s;
}
.list_table_cat_a{
	table-layout: fixed ;
	margin-left: 10%;
	margin-top: 1000%;
	width: 70%;
	height: 96px;
	-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
	transition:0.4s;
}
.list_table_cat_a:hover{
	width: 75%;
	height: 136px;
	margin-top:20px !important;
}

.list_table_mat{
	width: 80%;
	margin-left: 10%;
	margin-top: 1000%;
	height: 263px;
	-webkit-animation-name: anime; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
	animation-name: anime;
	animation-duration: 0.4s;
}
.list_table_mat_a{
	width: 80%;
	table-layout: fixed ;
	margin-left: 10%;
	margin-top: 1000%;
	height: 263px;
	-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
	transition:0.4s;
}
.list_table_mat_a:hover{
	width: 85%;
	height: 303px;
	margin-top:20px !important;
}
.list_table_rec{
	margin-left: 10%;
	width: 90%;
	margin-top: 1000%;
	height: 354px;
	-webkit-animation-name: anime; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
	animation-name: anime;
	animation-duration: 0.4s;
}
.list_table_rec_a{
	margin-left: 10%;
	/* table-layout: fixed ; */
	width: 90%;
	margin-top: 1000%;
	height: 354px;
	-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
	transition:0.4s;
}
.list_table_rec_a:hover{
	margin-top: 7% !important;
	width: 95%;
	height: 394px !important;
}
.tab-receita{
	margin-left: 10%;
	width: 75%;
	float: left;
}
span.tipo{
	background: #fff;
	border: 1px solid #999;
	border-radius:6px;
	float: left;
	font-size: 13px;
	height: 33px;
	margin: 0;
	padding: 0 0 0 0px;
	width: 10%;
	-webkit-appearance:none;
	-moz-appearance:textfield;
}
textarea{
	resize: none;
	background: #fff;
	border: 1px solid #999;
	border-radius:6px;
	float: left;
	font-size: 13px;
	margin: 0;
	padding: 0 0 0 8px;
	width: 100%;
	-webkit-appearance:none;
}
.input-erro{
	background-color: #fce4e4;
	border-color:#cc0033;
	border-radius: 7px;
}
.lixo{
	margin: 22% 0% 0% 35%;
}
.val_ingre{
	width: 20%;
	float: left;
}
.val_tipo{
	width: 10%;
	padding-top: 6%;
	float: left;
}
.val_ingre_total{
	width: 40%;
	text-align: left;
	float: left ;
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
.val_ingre_cifrao{
	width: 20%;
	float: left ;
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}
.val_ingre_pcifrao{
	width: 10%;
	float: left ;
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}
.val_bruto{
	width: 40%;
	text-align: left;
	float: left ;
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
.val_bruto_cifrao{
	float: left ;
	width: 20%;
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}

td{
	border-radius: 0px;
	border-width: 0px;
	padding: 8px;
	box-shadow: 0px 0px 0px 0px;
	border-left: none;
	overflow: hidden;
}
input{
	background: #fff;
	border: 1px solid #999;
	border-radius:6px;
	float: left;
	font-size: 13px;
	height: 33px;
	margin: 0;
	padding: 0 0 0 8px;
	width: 100%;
	-webkit-appearance:none;
	-moz-appearance:textfield;
}

input[id="lucro"]{
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px;
	width: 90%; 
}
input[name="quantidade"].middle{
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
input[name="valor"].middle{
	color: black;
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
input[name="tipo"].middle{
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}
input[name="sifrao"].middle{
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 

  -webkit-appearance: none; 

  margin: 0; 

}
img#tab-1{
	width:100px;
	height:100px;
	border-radius: 50px;
}
img#tab-2{
	width:37px;
	height:37px;
	border-radius: 50px;
}
.erro-msg{
	color:rgb(161, 55, 55);
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
}
.ghost{
	opacity: 0.3;
	border:2px dashed;
}
.ghost:hover{
	opacity: 1;
}

.exi{
	float: right;
}
button#plus_usu{
	background-image: url("../img/plus.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 70px;
	margin: auto;
	margin-top: 33%;
	border-radius: 50px;
	height: 100px;
	width: 100px;
}

/*----------------------------------------------------------*/

/*----------------------------------------------------------*/

/*
table{

	border:1px solid black;
	border-collapse: inherit;
	border-radius: 8px;
	background-color: whitesmoke;
	box-shadow: 15px 15px 20px 3px rgba(0,0,0,0.5);
}
button{
	border-radius: 5px;
	border:1px solid black;
	background-color:#f8d0c7;
	box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
	color: rgb(43, 43, 43);
	padding: 5px 10px;
	text-align: center;
	font-size: 13px;
	margin: 4px 2px;
	cursor: pointer;
}
button:hover {
	background-color: #FF887C;
	box-shadow:1px 1px #f8d0c7;
	color: black;
}
button.lixo{
	background-image: url("../img/close_lixo.png");
	background-size: 30px 30px;
	width:33px;
	height:33px;
}
button.lixo:hover{
	background-image: url("../img/open_lixo.png");
}
button:active {
	background-color: #f8d0c7;
	box-shadow:2px 2px rgb(43, 43, 43);
	color: black;
}
textarea{
	resize: none;
	background: #fff;
	border: 1px solid #999;
	border-radius:6px;
	float: left;
	font-size: 13px;
	margin: 0;
	padding: 0 0 0 8px;
	width: 100%;
	-webkit-appearance:none;
}
textarea:focus{
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.7);
}

td{
	border-radius: 0px;
	border-width: 0px;
	padding: 8px;
	box-shadow: 0px 0px 0px 0px;
	border-left: none;
}
  
 ul{
	margin: 0;
	padding: 0px;
	 width: 10%; 
	backgroundbutton#plus_usu{
	background-image: url("../img/plus.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	margin: auto;
	align:center;
	margin-top: 33%;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}-color: #f1f1f1;
	 position: relativ;  
	height: 100%;
	overflow: auto;
	border:1px #f8d0c7;
	border-right: 1px solid  #f8d0c7;
} 
span.tipo{
	background: #fff;
	border: 1px solid #999;
	border-radius:6px;
	float: left;
	font-size: 13px;
	height: 33px;
	margin: 0;
	padding: 0 0 0 0px;
	width: 10%;
	-webkit-appearance:none;
	-moz-appearance:textfield;
}
img#tab{
	width:100px;
	height:100px;
	border-radius: 50px;
}
button#plus_usu{
	background-image: url("../img/plus.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	margin: auto;
	align:center;
	margin-top: 33%;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}
button#plus_gas{
	background-image: url("../img/plus.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	margin: auto;
	align:center;
	margin-top: 20%;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}
button#plus_cat{
	background-image: url("../img/plus.png");
	background-position: center;
	background-size: 40px 40px;
    background-repeat: no-repeat;
	margin: auto;
	align:center;
	margin-top: 8%;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}
button#plus_mat{
	background-image: url("../img/plus.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	margin: auto;
	align:center;
	margin-top: 28%;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}
button#plus_rec{
	background-image: url("../img/plus.png");
	background-position: center;
	background-size: 40px 40px;
    background-repeat: no-repeat;
	margin: auto;
	align:center;
	margin-top: 45%;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}
.list_til{
	text-align: center;
}

input{
	background: #fff;
	border: 1px solid #999;
	border-radius:6px;
	float: left;
	font-size: 13px;
	height: 33px;
	margin: 0;
	padding: 0 0 0 8px;
	width: 100%;
	-webkit-appearance:none;
	-moz-appearance:textfield;
}
input:focus{
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.7);
}
input[id="lucro"]{
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px;
	width: 90%; 
}
input[name="quantidade"].middle{
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
input[name="valor"].middle{
	color: black;
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
input[name="tipo"].middle{
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}
input[name="sifrao"].middle{
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 

  -webkit-appearance: none; 

  margin: 0; 

}
.tab-receita{
	width: 75%;
	float: left;
}
.td-log{
	border-radius: 0px;
	border-width: 0px;
	padding: 0px;
	box-shadow: 0px 0px 0px 0px;
	border-left: none;
}
.input-group {
	color: #333;
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 0 20px 10px;
	width: 90%;
  }
.erro-msg{
	color:rgb(161, 55, 55);
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
}
.input-erro{
	background-color: #fce4e4;
	border-color:#cc0033;
	border-radius: 7px;
}
.forms{
	border-radius: 0px;
	border-width: 0px;
	padding: 10px;
	box-shadow: 0px 0px 0px 0px;
	border-left: none;
	text-align:right;
}
.login{
	margin-left:35%;
	margin-top:5%;
}
.log-button{
	position: relative;
	float: right;
}

.drop{
	margin-right: 1%;
	position: relative;
	float: right;
	height: 100%;
	width: 5%;
	border-radius:3px;
	padding: 1px 1px 1px 1px;
}
.drop:focus{
	border-color: black;
}
.deslogar:hover:not(.active){
	background-color: #F1F1F1;
	color: rgb(126, 122, 122);
}
.titulo{
	padding-left: 10px;
}

.top{	 
	 margin-left: 10%; 
	background-color:  #FF887C;
	 width: 90%; 
	height: 3%;
	position: fixed; 
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 0px 10px 0px;
	border-bottom: 2px solid rgb(252, 246, 245);
}

.list{
	height: 2.45%;
	display: block;
	padding: 12.5px 1px 10px 10px;
	text-decoration: none;
	border-bottom: 1px solid #f8d0c7;
	color: rgb(126, 122, 122);
}
.list-click{
	height: 2.45%;
	display: block;
	padding: 12.5px 1px 10px 10px;
	text-decoration: none;
	border-bottom: 1px solid #f8d0c7;
	color: white;
	background-color: rgb(85, 85, 85);
}
.list:hover:not(.active){
	background-color: rgb(194, 189, 189);
	color: #fff;
}
.list:active{
	background-color: black;
	color: #fff;
}
.conteudo{	 
	 margin-left:10%;
	padding: 8px;
	height: 100%; 
}
.row{
	content: "";
	clear: both;
	display: table;
}
.rece{
	width: 30%;
	float: left;
}
.list_list_usu{
	width: 20%;
	float: left;
	margin-bottom: 5%;
}
.list_list_gas{
	width: 14%;
	float: left;
	margin-bottom: 5%;
}
.list_list_cat{
	width: 12%;
	float: left;
	margin-bottom: 5%;
}
.list_list_mat{
	width: 15%;
	float: left;
	margin-bottom: 5%;
}
.list_list_rec{
	width: 15%;
	float: left;
	margin-bottom: 5%;
}
.list_table_usu{
	width: 300px;
	height: 350px;
}
.list_table_gas{
	width: 203px;
	height: 207px;
}
.list_table_cat{
	width: 173px;
	height: 96px;
}
.list_table_mat{
	width: 228px;
	height: 263px;
}
.list_table_rec{
	width: 230px;
	height: 244px;
}
.val{
	width: 50%;
	float: left;
}
.right{
	margin-left: 20%;
}
.rightf{
	margin-left: 50%;
}
.middle{
	margin-left: 10%;
}
.lixo{
	margin: 22% 0% 0% 35%;
}
.val_ingre{
	width: 20%;
	float: left;
}
.val_tipo{
	width: 10%;
	padding-top: 6%;6 
	float: left;
}
.val_ingre_total{
	width: 20%;
	text-align: left;
	float: right;
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
.val_ingre_cifrao{
	width: 10%;
	float: right;
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}
.val_bruto{
	width: 20%;
	text-align: left;
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}
.val_bruto_cifrao{
	width: 10%;
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}


.dropdown-content {
	display: none;
	position: absolute;
	margin-left:93%; 
	background-color: #f1f1f1;
	min-width: 6.5%;
	overflow: auto;
	border-radius: 8px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.5);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 15px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: blue;}

.show {display: block;}

 ----------------------------------------------------------------------------------------------- 

   .dropbtn-tipo, .dropbtn-cat {
	background-color: #fff;
	color: #333;
	padding: 1%;
	border: 1px solid #999;
	font-size: 13px;
	height: 33px;
  }
  .dropdown-tipo, .dropdown-cat {
	position: relative;
	height: 33px;
	display: inline-block;
	width: 99%;
	border-radius:6px; 
  }
  
  .dropdown-content-tipo, .dropdown-content-cat {
	margin-top: 30px;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 100%;
	border-radius: 8px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content-tipo a, .dropdown-content-cat a { 
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content-tipo a:hover {background-color: #ddd;}
  .dropdown-content-cat a:hover {background-color: #ddd;}
  
  .dropdown-tipo:hover .dropdown-content-tipo {display: block;}
  .dropdown-cat:hover .dropdown-content-cat {display: block;}

  
  .dropdown-tipo:hover .dropbtn-tipo {background-color: white;}
  .dropdown-cat:hover .dropbtn-cat {background-color: white;}

   ------------------------------------------------------------------------------------------------- 
 */


  * {
	box-sizing: border-box;
  }
  
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  [class*="col-"] {
	float: left;
  }
  
  .col-1 {width: 8.33%;}
  .col-1-5 {width: 12.5%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-10-5 {width: 87.5%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  html {
	font-family: "Lucida Sans", sans-serif;
  }

li{
	list-style-type: none;
}
.titulo {
	vertical-align:middle;
	padding: 15px 0px 16px 80px;  
	position: relative;
	display: flex;
}
.conteudo{	 
	float:right;
	height: 94.6vh;
	overflow: auto;
	
}

.menu-img{
	height: 50px;
	width:50px;
	margin-left: 20px;
	margin-top: 0px;
	position: absolute;
}
.fix{
	position:fixed;
	z-index: 1;
}
.header {
	background-color: #FF887C;
	color: black;
	position:relative;
	padding: 0;
}
/* #f08080b5 coralbonitoclaro*/
/* #dc143ca6 crimsonclaro */
  .menu ul {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: rgb(255, 241, 240);
	position: relative;
  }
  .list{
	padding: 10px 10px 10px 10px;	
	color: black;
	display: block;
	-webkit-transition:0.2s;
	transition:0.2s;
}
ul[id="sidebar"] .list:hover{
	font-size: 20px;
}
.list-click{
	color: white;
	background-color:  #dc143c52 ;
	padding: 10px;
	color: #ffffff;
	font-size: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transition:0.2s;
	transition:0.2s;
}

.ul-drop{
	position: absolute;
	right: 0;
	clear:right;
	padding: 0;
	margin: 0;
	height: 100%;
	min-width:91px;
}
.list[id="usr"]{
	padding: 15px 19.5px 10px 20px;
	box-shadow: none;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;	
}
.list-click[id="usr"]{
	padding: 15px 19.5px 10px 20px;
	box-shadow: none;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;	
}

.list[id="d2"]{
	border-radius: 8px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
.list[name="drop"]{
	text-align:center;
	display: none;
	background-color: rgb(255, 241, 240);
	z-index: 1;
	position: relative;
}
.show {display: block !important;} 

.list[name="drop"]:hover{
	background-color: #eca7a7;
	color: #fff;
}

.list_hover{
	background-color: #eca7a7;
	color: #fff;
}
